<template>
    <div>
        <v-app-bar elevation="0" border density="compact">
            <v-app-bar-title class="ml-15">
                Task Manager
            </v-app-bar-title>
            <template v-slot:append>
                <v-btn variant="outlined" v-if="store.isLoggedIn" @click="handlesLogOut"
                    class="text-body-2 mr-12 ml-1 px-2">
                    Log Out
                </v-btn>
                <v-btn color="primary" v-else variant="outlined" class="text-body-2 mr-12 ml-1 px-2" @click="handleToLogin">
                    Login
                </v-btn>
            </template>
        </v-app-bar>
    </div>
</template>
  
<script setup>
import { ref } from "vue";
import { useDisplay } from "vuetify";
import { useRouter, useRoute } from "vue-router";
import { useTaskStore } from "@/stores/task.js";
import UserTaskService from '@/services/tasks.js';



const store = useTaskStore();
const router = useRouter();
const route = useRoute();

const { mobile } = useDisplay();


//methods

const handlesLogOut = () => {

    UserTaskService.LogoutUser().then(
        (response) => {
            store.setIsLoggedIn(false);
            localStorage.removeItem('token');
            router.push('/loggedout');
        },
        (error) => {
            console.log(error);
        }
    );
};

const handleToLogin = () => {
    router.push('/login');
};
</script>
  
<style scoped>
.text-body-2 {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
</style>