<template>
  <v-app>

    <v-layout>
      <NavBar />
      <v-main class="pt-2 pt-sm-2 pt-xs-2 pt-md-0 pt-lg-0 pt-xl-0 mt-6 mt-xs-2 mt-sm-2 mt-md-2 mt-lg-2">
        <router-view />
      </v-main>
    </v-layout>

  </v-app>
</template>

<script setup>
import NavBar from "@/components/NavBar.vue";



</script>
