<template>
  <v-container class="mt-md-7 mt-sm-8 mt-8">
    <v-row>
      <v-col cols="12" xs="12">
        <h3 class="text-body-2 mt-2">Manage tasks assigned to your users like a pro.</h3>
      </v-col>
      <v-col cols="12" sm="12">
        <v-tabs v-model="tab" color="primary">
          <v-tab value="one" class="text-body-2">Users<v-icon icon="mdi-account-group-outline"
              class="ml-1"></v-icon></v-tab>
          <v-tab value="three" class="text-body-2">Tasks<v-icon icon="mdi-file-tree" class="ml-1"></v-icon></v-tab>
        </v-tabs>

        <v-card-text>
          <v-window v-model="tab">
            <v-window-item value="one">
              <v-card>
                <v-card-text>
                  <v-btn class="mb-2" size="small" @click="dialogUser = true" color="primary" icon="mdi-plus"></v-btn>

                  <!-- Dialog Edit User -->
                  <v-dialog v-model="dialogUser" max-width="350">
                    <v-card v-if="assign" class="pb-4" elevation="2">
                      <v-card-title>Tasks</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-form class="mx-1">
                        <v-row no-gutters>
                          <v-col cols="12">
                            <v-text-field disabled class="mx-1" v-model="editedItem.id" variant="outlined" label="UID"
                              density="compact" placeholder="User's ID">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field disabled class="mx-1" v-model="editedItem.email_address" variant="outlined"
                              label="Email" density="compact" placeholder="User's Email">
                            </v-text-field>
                          </v-col>
                        </v-row>

                      </v-form>
                      <div v-if="editedItem.tasks">
                        <v-list>
                          <v-list-subheader>Tasks Assigned</v-list-subheader>
                          <v-list-item v-for="(item, i) in editedItem.tasks" :key="i" :value="item" active-color="primary"
                            size="small">
                            <v-list-item-title class="ml-2" v-text="item.name"></v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </div>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogUser">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesSaveUserTasks">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                    <v-card v-else class="pb-4" elevation="2">
                      <v-card-title>Edit User</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-form class="mx-1">
                        <v-row>
                          <v-col cols="12">
                            <v-text-field class="mx-1" v-model="editedItem.email_address" variant="outlined" label="Email"
                              density="compact" placeholder="Enter User's Email">
                            </v-text-field>
                          </v-col>
                        </v-row>
                      </v-form>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogUser">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesSaveUser">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- Dailog Delete User -->
                  <v-dialog v-model="dialogDeleteUser" max-width="350">
                    <v-card class="pb-4" elevation="2">
                      <v-card-title>Delete User</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-card-text>
                        <p>Are you sure you want to delete this user with
                          UID <b>{{ editedItem.id }}</b>
                          and email
                          <b>{{ editedItem.email_address }}</b>?
                        </p>
                      </v-card-text>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogDeleteUser">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesConfirmDeleteUser">Confirm Delete</v-btn>
                      </v-card-actions>

                    </v-card>
                  </v-dialog>
                  <v-table fixed-header height="300px" density="compact" class="text-body-2">
                    <thead>
                      <tr>
                        <th class="text-left">
                          No.
                        </th>
                        <th class="text-left">
                          UID
                        </th>
                        <th class="text-left">
                          Email
                        </th>
                        <th>
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, i) in users" :key="i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.email_address }}</td>
                        <td><v-icon icon="mdi-eye" @click="handlesAssignUser(item)" class="mr-1"></v-icon><v-icon
                            icon="mdi-pencil" @click="handlesEditUser(item)"></v-icon>
                          <v-icon icon="mdi-delete" @click="handlesDeleteUser(item)"></v-icon>
                        </td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-card-text>
              </v-card>

            </v-window-item>

            <v-window-item value="three">

              <v-card>
                <v-card-text>
                  <v-btn class="mb-2" size="small" @click="dialogTask = true" color="primary" icon="mdi-plus"></v-btn>

                  <!-- Dialog Assign Task -->
                  <v-dialog v-model="dialogAssignUsers" max-width="600">
                    <v-card>
                      <v-card-title>Assign Tasks</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-form>
                        <v-row no-gutters>
                          <v-col cols="12" md="4" class="mb-1">
                            <v-text-field class="mx-1" v-model="editedTaskItem.name" variant="outlined" label="Name"
                              density="compact" placeholder="Enter Tasks's Name">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="8">
                            <v-text-field class="mr-2" v-model="editedTaskItem.description" variant="outlined"
                              label="Description" density="compact" placeholder="Enter Task's Description">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-text-field class="mx-1" v-model="editedTaskItem.due_date" variant="outlined"
                              label="Due Date" density="compact" placeholder="Enter Task's Due Date">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-select class="mx-1" v-model="selectedStatus" :items="statusTask" item-title="name"
                              item-value="id" chips variant="outlined" label="Status" density="compact">
                            </v-select>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-select class="mx-1" v-model="selectedUsers" :items="users" item-title="id" item-value="id"
                              chips multiple variant="outlined" label="User IDs" density="compact">
                            </v-select>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-textarea v-model="editedTaskItem.remarks" rows=1 class="mx-1" variant="outlined"
                              label="Remarks" density="compact">
                            </v-textarea>
                          </v-col>
                          <v-col cols="12" md="3">
                            <v-text-field v-model="editedTaskItem.start_time" class="mx-1" variant="outlined"
                              label="Start Time" density="compact" placeholder="Start Time">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="3">
                            <v-text-field v-model="editedTaskItem.end_time" class="mx-1" variant="outlined"
                              label="End Time" density="compact" placeholder="End Time">
                            </v-text-field>
                          </v-col>
                        </v-row>
                      </v-form>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogAssignUsers">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesSaveAssignTask">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>


                  <!-- Dialog Edit Task -->
                  <v-dialog v-model="dialogTask" max-width="600">
                    <v-card>
                      <v-card-title>Tasks</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-form>
                        <v-row no-gutters>
                          <v-col cols="12" md="4" class="mb-1">
                            <v-text-field class="mx-1" v-model="editedTaskItem.name" variant="outlined" label="Name"
                              density="compact" placeholder="Enter Tasks's Name">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="8">
                            <v-text-field class="mr-2" v-model="editedTaskItem.description" variant="outlined"
                              label="Description" density="compact" placeholder="Enter Task's Description">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-text-field class="mx-1" v-model="editedTaskItem.due_date" variant="outlined"
                              label="Due Date" density="compact" placeholder="Enter Task's Due Date">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-text-field class="mr-2" v-model="editedTaskItem.status_id" variant="outlined"
                              label="Status" density="compact" placeholder="Enter Task's Status">
                            </v-text-field>
                          </v-col>
                        </v-row>
                      </v-form>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogTask">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesSaveTask">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- Dailog Delete Task -->
                  <v-dialog v-model="dialogDeleteTask" max-width="350">
                    <v-card class="pb-4" elevation="2">
                      <v-card-title>Delete Task</v-card-title>
                      <v-divider class="mb-2"></v-divider>
                      <v-card-text>
                        <p>Are you sure you want to delete <b>{{ editedTaskItem.name }}</b> with the description
                          <b>{{ editedTaskItem.description }}</b>
                          due on
                          <b>{{ editedTaskItem.due_date }}</b>?
                        </p>
                      </v-card-text>

                      <v-card-actions class="justify-end">
                        <v-btn variant="text" @click="closeDialogDeleteTask">Cancel</v-btn>
                        <v-btn variant="text" @click="handlesConfirmDeleteTask">Confirm Delete</v-btn>
                      </v-card-actions>

                    </v-card>
                  </v-dialog>
                  <v-table fixed-header height="300px" density="compact" class="text-body-2">
                    <thead>
                      <tr>
                        <th class="text-left">
                          No.
                        </th>
                        <th class="text-left">
                          TaskID
                        </th>
                        <th class="text-left">
                          Name
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                          Due Date
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, i) in taskData" :key="i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.due_date }}</td>
                        <td>{{ item.status_id }}</td>

                        <td><v-icon icon="mdi-clipboard-text" @click="handlesAssignUsers(item)"
                            class="mr-1"></v-icon><v-icon icon="mdi-pencil" @click="handlesEditTask(item)"></v-icon>
                          <v-icon icon="mdi-delete" @click="handlesDeleteTask(item)"></v-icon>
                        </td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-card-text>
              </v-card>


            </v-window-item>
          </v-window>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { ref, onMounted } from "vue";
import UserTaskService from '@/services/tasks.js'
import { useTaskStore } from "@/stores/task.js";
import { useRouter, useRoute } from "vue-router";

const store = useTaskStore();
const router = useRouter();
const route = useRoute();



/**
 * MOUNT
 */

onMounted(() => {
  authenticateUser();
  getUsers();
  getTasks();
  getAllTasks();

});


/**
 * DATA
 */

let tab = ref(null);

//user
let assign = ref(false);
let dialogDeleteUser = ref(false);
let editedIndex = ref(-1);
let editedItem = ref({
  id: '',
  email_address: ''
});
let dialogUser = ref(null);
let user = ref({
  id: '',
  email: '',
});
let sortBy = ref([{ key: 'name' }]);
let groupBy = ref([{ key: 'dairy' }]);

let items = ref([
  { text: 'Real-Time', icon: 'mdi-clock' },
  { text: 'Audience', icon: 'mdi-account' },
  { text: 'Conversions', icon: 'mdi-flag' },
]);


let tasks = ref([]);
let taskSelected = ref(null);
let users = ref([]);

//tasks
let dialogTask = ref(false);
let dialogDeleteTask = ref(false);
let editedTaskIndex = ref(-1);
let editedTaskItem = ref({
  id: '',
  name: '',
  description: '',
  due_date: '',
  status_id: '',
});

let taskData = ref([]);

let dialogAssignUsers = ref(false);
let selectedUsers = ref([]);
let selectedStatus = ref([]);

const statusTask = ref([
  {
    name: 'Complete',
    id: 1
  },
  {
    name: 'Pending',
    id: 2
  },
  {
    name: 'Incomplete',
    id: 3
  }
])


/**
 * METHODS
 */


const getUsers = () => {
  UserTaskService.getAllUsers().then(
    (response) => {
      users.value = response.data.data
    },
    (error) => {
      console.log(error, 'Error');
    }
  )
}

const getTasks = () => {
  UserTaskService.getAllTasks().then(
    (response) => {
      tasks.value = response.data.data
    },
    (error) => {
      console.log(error, 'Error');
    }
  )
}

const handlesAssignUser = (item) => {

  editedIndex.value = users.value.indexOf(item);
  editedItem.value = Object.assign({}, item);
  assign.value = true;
  dialogUser.value = true;

}

const handlesEditUser = (item) => {

  assign.value = false;
  editedIndex.value = users.value.indexOf(item);
  editedItem.value = Object.assign({}, item);
  dialogUser.value = true;

}

const handlesDeleteUser = (item) => {

  editedIndex.value = users.value.indexOf(item);
  editedItem.value = Object.assign({}, item);
  dialogDeleteUser.value = true;

}

//deletes users permanently
const handlesConfirmDeleteUser = () => {
  UserTaskService.destroyUser(editedItem.value).then(
    (response) => {
      console.log(response.data, 'Destroyed')
      getUsers();
      closeDialogDeleteUser();
    },
    (error) => {
      console.log(error.data.data, 'Error');
    }
  )

}

const handlesSaveUser = () => {

  if (editedIndex.value > -1) {
    //updates user
    console.log(editedItem.value, 'Edited Item Value');
    UserTaskService.updateUser(editedItem.value).then(
      (response) => {
        getUsers();
        closeDialogUser();
      },
      (error) => {
        console.log(error, 'Error');
      }
    )

  } else {

    //creates user
    console.log(editedItem.value, 'Created Item Value');
    UserTaskService.createUser(editedItem.value).then(
      (response) => {
        getUsers();
        closeDialogUser();
      },
      (error) => {
        console.log(error, 'Create Error');
      }
    )
  }
  closeDialogUser();

}

const closeDialogUser = () => {
  assign.value = false;
  editedIndex.value = -1;
  dialogUser.value = false;
  editedItem.value = {
    id: null,
    email_address: null
  }
}

const closeDialogDeleteUser = () => {
  editedIndex.value = -1;
  dialogDeleteUser.value = false;
  editedItem.value = {
    id: null,
    email: ''
  }
}

const handlesSaveUserTasks = () => {

  console.log(editedItem.value, 'Edited Item Out');
  editedIndex.value = -1;
  dialogUser.value = false;
  editedItem.value = {
    id: null,
    email: ''
  }

}

//TASK METHODS

const getAllTasks = () => {
  UserTaskService.getAllTasks().then(
    (response) => {
      taskData.value = response.data.data
    },
    (error) => {
      console.log(error, 'Error');
    }
  )
}

const handlesEditTask = (item) => {
  editedTaskIndex.value = taskData.value.indexOf(item);
  editedTaskItem.value = Object.assign({}, item);
  dialogTask.value = true;
}

const closeDialogTask = () => {

  editedTaskIndex.value = -1;
  dialogTask.value = false;
  editedTaskItem.value = {
    id: '',
    name: '',
    description: '',
    due_date: '',
    status_id: '',
  }
}

const handlesSaveTask = () => {

  if (editedTaskIndex.value > -1) {
    //updates tasks
    UserTaskService.updateTasks(editedTaskItem.value).then(
      (response) => {
        getAllTasks();
        closeDialogTask();
      },
      (error) => {
        console.log(error, 'Update Tasks Error');
      }
    )

  } else {

    //creates tasks
    UserTaskService.createTasks(editedTaskItem.value).then(
      (response) => {
        getAllTasks();
        closeDialogTask();
      },
      (error) => {
        console.log(error.response.data, 'Create Task Error');
      }
    )
  }
  closeDialogTask();

}

const handlesDeleteTask = (item) => {

  editedTaskIndex.value = taskData.value.indexOf(item);
  editedTaskItem.value = Object.assign({}, item);
  dialogDeleteTask.value = true;

}

const closeDialogDeleteTask = () => {
  editedTaskIndex.value = -1;
  dialogDeleteTask.value = false;
  editedTaskItem.value = {
    id: '',
    name: '',
    description: '',
    due_date: '',
    status_id: '',
  }
}

const handlesConfirmDeleteTask = () => {
  UserTaskService.archiveTasks(editedTaskItem.value).then(
    (response) => {
      getAllTasks();
      closeDialogDeleteTask();
    },
    (error) => {
      console.log(error.response, 'Error in confirm delete task');
    }
  )
}


const handlesAssignUsers = (item) => {
  editedTaskIndex.value = taskData.value.indexOf(item);
  editedTaskItem.value = Object.assign({}, item);
  dialogAssignUsers.value = true;
  selectedUsers.value = editedTaskItem.value.users.map(user => user.id);
  selectedStatus.value = editedTaskItem.value.status_id;
}


const handlesSaveAssignTask = () => {
  editedTaskItem.value.user_ids = selectedUsers.value;
  editedTaskItem.value.status_id = selectedStatus.value;
  editedTaskItem.value.task_id = editedTaskItem.value.id;

  UserTaskService.assign(editedTaskItem.value).then(
    (response) => {
      closeDialogAssignUsers();
      getUsers();
      getAllTasks();
    },
    (error) => {
      console.log(error.response)
    }
  )

}

const closeDialogAssignUsers = () => {

  editedTaskIndex.value = -1;
  dialogAssignUsers.value = false;
  editedTaskItem.value = {
    id: '',
    name: '',
    description: '',
    due_date: '',
    status_id: '',
  }

  selectedStatus.value = [];
  selectedUsers.value = [];
}


const authenticateUser = () => {
  const access_token = localStorage.getItem('token');
  if (access_token) {
    let found = true;
    store.setIsLoggedIn(found);
  }

  if (!access_token && !store.isLoggedIn) {
    router.push("/login");
  }
}



</script>

<style scoped>
.text-body-2 {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
</style>
