<template>
    <div>
        <div class="center mt-4">
            <p class="mb-2"> Logged out successfully!</p>
            <v-btn @click="handlesBackToHome">Back To Login</v-btn>
        </div>
    </div>
</template>
<script setup>
import { useRouter, useRoute } from "vue-router";

const router = useRouter();
const route = useRoute();


//methods
const handlesBackToHome = () => {
    router.push("/login");
}

</script>

<style>
.center {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>