<template>
    <div class="mt-12">

        <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="370" rounded="lg">

            <div class="text-subtitle-1 text-medium-emphasis">Account</div>

            <v-text-field v-model="user.email_address" density="compact" placeholder="Email address"
                prepend-inner-icon="mdi-email-outline" variant="outlined"></v-text-field>

            <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
                Password

                <a class="text-caption text-decoration-none text-blue" href="#" rel="noopener noreferrer" target="_blank">
                    Forgot login password?</a>
            </div>

            <v-text-field v-model="user.password" :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'" density="compact" placeholder="Enter your password"
                prepend-inner-icon="mdi-lock-outline" variant="outlined"
                @click:append-inner="visible = !visible"></v-text-field>

            <v-card class="mb-12" color="surface-variant" variant="tonal">
                <v-card-text class="text-medium-emphasis text-caption">
                    Warning: Immediately you log in you must change your password use your
                    email provided to the admin and 12345 as your immediate password.
                </v-card-text>
            </v-card>

            <v-btn @click="handlesLogin" block class="mb-8" color="blue" size="large" variant="tonal">
                Log In
            </v-btn>
        </v-card>
    </div>
</template>
<script setup>
import { ref, onMounted } from "vue";
import UserTaskService from '@/services/tasks.js';
import { useRouter, useRoute } from "vue-router";
import { useTaskStore } from "@/stores/task.js";


const store = useTaskStore();
const router = useRouter();
const route = useRoute();

let visible = ref(false);

let user = ref({
    email_address: '',
    password: ''
})


//methods

const handlesLogin = () => {
    UserTaskService.LoginUser(user.value).then(
        (response) => {
            let token = response.data.token;
            localStorage.setItem('token', token);
            store.isLoggedIn = true;
            router.push("/");
        },
        (error) => {
            console.log(error, 'Error')
        }
    )

    console.log(user.value, 'User');

}


</script>